*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI';
}
body{
    background-color: #F4F2EE;
    overflow-x: hidden;
    justify-content: center;
}
.Nav-bar{
    padding: 7.5px 0px;
    display: flex;
    height: 54px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 15px;
}
#mini_nav_bar{
    display: flex;
    align-items: center;
    gap: 4px;
}
#search_space{
    align-items: center;
    padding-left: 16px;
    padding-right: 8px;
}
#Search-bar{
    width: 470.89px;
    background-color: #EDF3F8;
    border-radius: 4px;
    align-items: center;
    display: flex;
}
#search{
    height: 34.17px;
    border: none;
    background-color: #EDF3F8;
    width: 91%;
}
#search::placeholder{
    font-family: Segoe UI;
    font-weight: 400;
    font-size: 14px;
    color: #00000099;
}
#search:focus{
    outline: none;
}
#nav-link{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.image_navbar{
    width: 24px;
    height: 24px;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}
#text_navbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #00000099;
}
#image_navbar_overlay{
    position: relative;
}
#profile_drop{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #00000099;
}
#business_drop{
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #00000099;
}
#profile_information{
    display: flex;    
    flex-direction: row;
    margin: 0px 260px;
    gap: 24px;
}
#profile_information_1{
    background-color: white;
    border-radius: 8px;
    width: 804px;
    height: 540px;
}
#profile_design{
    justify-content: center;
    padding-bottom:15px;
}
#frame{
    position: relative;
    width: 804px;
    border-radius: 16px;
    top: 0px;
}
#container{
    position: absolute;
    top: 160px;
    left: 290px;}
#pen{
    padding-left: 760px;
    padding-bottom: 8px;
}
#profile_info{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #00000099;
    gap: 250px;
    padding: 8px 24px;
}
#profile_details_1{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #000000E5;
    padding-top: 5px;
}
#message_button{
    align-items: center;
    display: flex;
    gap:4px;
    background-color: #0A66C2;
    border-radius: 16px;
    color: white;
    padding: 6px 16px;
    font-size: 16px; 
    font-weight: 600;
    border: none;
}
#more_button{
    border-radius: 16px;
    border: 1px solid #000000BF;
    background-color: #FFFFFF01;
    color: #000000BF;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 600;
}
#profile_details_2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.detail_1{
    padding: 12px;
    background-color: #DDE7F1;
    width: 350px;
    height: 60px;
    border-radius: 8px;  
}
#profile_font_1{
    font-size: 14px ;
    font-weight:600 ;
    color: #000000E5;
}
#profile_font_2{
    font-weight:400 ;
    font-size:14px ;
    color: #000000E5;
}
#profile_font_3{
    font-weight:600 ;
    font-size:14px ;
    color: #0A66C2;
}
#profile_details_2{
    padding: 8px 24px;
    gap: 20px;
}
#about{
    margin-top: 24px;
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    font-weight: 600px;
}
#mini_about{
    border: 1px solid rgba(0, 0, 0, 0.088);
    padding: 12px 24px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#mini_about_1{
    font-weight: 600;
    font-size: 16px ;
    color: #000000E5;
}
#request_button{
    padding: 6px 16px;
    background-color: #FFFFFF01;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.666);
    font-weight: 600;
    font-size: 16px;

}
#services{
    margin-top: 12px;
    padding: 24px;
    border-radius: 8px;
    background-color: white;
    font-weight: 600px;
}
#profile_information_2{
    width: 270px;
    height: 180px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
}
#english_lang{
    background-color: #01754F;
    color: white;
    border-radius: 20px;
    padding: 8px 45px;
    border: none;
    font-family: 'Segoe UI';
}
#spanish_lang{
    background-color: #FFFFFF01;
    border-radius: 20px;
    padding: 8px 45px;
    border: 1px solid #0000004D;
}
